<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.0" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.6" targetFramework="xamarinios10" />
  <package id="HockeySDK.Xamarin" version="5.1.2" targetFramework="xamarinios10" />
  <package id="KeyChain.Net" version="0.0.4" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.DeviceInfo" version="4.1.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="4.0.1.5" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.SDWebImage" version="4.4.0" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile" version="2.4.1" targetFramework="xamarinios10" />
</packages>